<h4 class="p-4">
    <i class="fas fa-file-alt"></i>
    Lista de Eventos
</h4>
<hr>

<div class="form-inline">
  <div class="form-group mb-2">
    <label for="filtro" class="mr-2">Filtro:</label>
      <input
        type="text"
        class="form-control mb-2"
        placeholder="Buscar por tema ou local"
        [(ngModel)] = "filtroLista"
        id="filtro"
      >
  </div>
</div>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-sm btn-outline-light" (click)="alterarExibicaoFoto()">
          {{!exibirImagem ? 'Exibir foto' : 'Ocultar foto'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd. Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [ngbCollapse]="!exibirImagem" src="../../assets/imagens/{{evento.imagemUrl}}"
          [style.width.px] = "larguraDaImagem"
          [style.margin.px] = "margemDaImagem"
          alt="{{evento.imagemUrl}}">
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-primary mr-2">Editar</button>
        <button type="button" class="btn btn-sm btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-danger text-center">
        <h5>Ops!</h5>
        <h6>Nenhum evento encontrado!</h6>
      </td>
    </tr>
  </tfoot>

</table>



<!-- https://www.udemy.com/course/angular-dotnetcore-efcore/learn/lecture/24931216#questions -->
